{% extends 'librariantemp/dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="col-lg-1">
    <div class="card-body"><a href="{% url 'lib_msg' %}" style="float: none;"><img src="{% static 'asset/img/plus.png' %}" height="40px" alt="plus"></a></div>    
</div>

    {% for i in msg %}
    <div class="col-lg-12" style="margin-bottom: 20px;">
    <div class="card">
    <div class ="card-body">
            <div><h5 class="Data">{{i.receiver}}</h5></div>
            <div>{{i.message}}</div>
            <div><span>Contact:  {{i.contact}}</span></div>
            <div><span>{{i.time}}</span></div>  
            <div style="margin-top: 5px;"><a class="btn btn-primary" href="{% url 'del_lib_sent' i.id %}">Delete</a></div>                        
    </div>
    </div>
    </div>
    {% endfor %}

{% endblock %}